    a {
        text-decoration: none;
        text-transform: capitalize;
    }
    
    header {
        position: sticky;
        top: 0;
        z-index: 100;
    }
    
    .navbar-collapse {
        flex-grow: initial;
    }
    
    .navbar-nav {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 5px;
    }
    
    .nav-item {
        margin: 0px 5px;
    }
    
    .navbar-brand img {
        height: 78px;
    }
    
    .row {
        justify-content: center
    }
    
    footer {
        position: sticky;
        background-color: rgb(246 226 201);
        padding-bottom: 2px;
    }
    
    footer ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 10px;
    }
    
    footer ul li {
        list-style: none;
        font-size: 1.5rem;
    }
    /*Estilado del Index*/
    
    .carousel-item img {
        height: 550px;
    }
    
    .carousel-inner {
        padding-bottom: 5px;
    }
    
    .mainParrafos p {
        margin: 20px 20px;
        font-size: 150%;
        font-weight: 600;
        letter-spacing: 2px;
        font-family: 'Cabin', sans-serif;
    }
    /*EStilado de la pagina productos*/
    
    .pag_produ {
        display: grid;
        grid-template-columns: 0.8fr 0.8fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        margin: 50px;
    }
    /*Modicia el h1 de la pagina "Productos"*/
    
    main h1 {
        text-align: center;
        color: goldenrod;
        margin-top: 15px;
    }
    /*Modifica el p de la pagina "Productos"*/
    
    main p {
        font-size: 2rem;
        font-family: 'Anek Gujarati', sans-serif;
        margin: 5px 10px;
        letter-spacing: 2px;
    }
    
    .produ {
        display: flex;
        flex-direction: column;
    }
    
    .produ ul li {
        font-size: 1.5rem;
        font-weight: 600;
        font-family: 'Anek Gujarati', sans-serif;
    }
    
    .produ img {
        width: 95%;
    }
    /*Estilado de la pagina Contacto*/
    
    .form-control {
        width: 30%;
        font-size: 1.2rem;
    }
    
    .form_text {
        width: 40%;
    }
    
    .form_boton {
        margin-bottom: 10px;
    }
    
    .form-label {
        font-size: 1.3rem;
    }
    
    .contacto p {
        margin: 20px 20px;
        font-size: 2rem;
        font-family: 'Cabin', sans-serif;
    }
    /*Esquilado de nosotros.html*/
    
    .nosotros p {
        font-size: 2rem;
        margin: 20px 20px;
    }
    
    .nosotros_img {
        display: grid;
        grid-template-columns: 0.8fr;
        justify-content: center;
    }
    
    .nosotros_img img {
        width: 100%;
    }
    /*Estilado de la pagina Ubicacion*/
    
    .ubi p {
        font-size: 2rem;
        font-weight: bold;
    }
    
    .ubi_mapa {
        display: grid;
        grid-template-columns: 0.9;
        justify-content: center;
        margin-bottom: 15px;
    }
    
    .ubi_mapa iframe {
        width: 100%;
        height: 200%;
    }
    /*Media Queries hasta 999px*/
    
    @media only screen and (max-width: 999px) {
        .mainParrafos p {
            font-size: 120%
        }
        .carousel-item img {
            height: 400px;
        }
        .navbar-brand img {
            height: 73px;
        }
        main p {
            font-size: 1.5rem;
        }
        .produ ul li {
            font-size: 1rem;
        }
        .pag_produ {
            margin: 35px;
            gap: 3px;
        }
        footer ul li img {
            width: 85%;
        }
        footer ul li {
            font-size: 1rem;
        }
        /*Estilado para los Formualrios*/
        .form-control {
            width: 50%;
            font-size: 0.9rem;
        }
        .form_text {
            width: 60%;
        }
        .form_boton {
            margin-bottom: 7px;
            font-size: 0.9rem;
        }
        .form-label {
            font-size: 1rem;
        }
        .contacto p {
            margin: 20px 20px;
            font-size: 1.5rem;
        }
        /*Estilado para Nosotros*/
        .nosotros p {
            font-size: 1.3rem;
            margin: 15px 15px;
        }
        .nosotros_img {
            grid-template-columns: 0.9fr;
        }
        .ubi_mapa {
            width: 80%;
            height: 400px;
        }
    }
    /*Media Queries hasta    599px*/
    
    @media only screen and (max-width: 599px) {
        .mainParrafos p {
            font-size: 95%
        }
        .carousel-item img {
            height: 335px;
        }
        .navbar-brand img {
            height: 73px;
        }
        main p {
            font-size: 1rem;
        }
        .produ ul li {
            font-size: 0.9rem;
        }
        .pag_produ {
            margin: 20px;
            grid-template-columns: 0.7fr;
            justify-content: center;
        }
        footer ul li img {
            width: 75%;
        }
        main p {
            letter-spacing: none;
        }
        /*Estilado para los Formualrios*/
        .form-control {
            width: 50%;
            font-size: 0.8rem;
        }
        .form_boton {
            font-size: 0.8rem;
        }
        .form-label {
            font-size: 0.9rem;
        }
        .contacto p {
            margin: 15px 15px;
            font-size: 1.3rem;
        }
        .form_text {
            width: 75%;
        }
        /*Estilado para Nosotros*/
        .nosotros p {
            font-size: 1rem;
            margin: 10px 10px;
        }
    }