    * {
        font-family: 'Cabin', sans-serif;
    }
    
    header {
        position: sticky;
        top: 0;
        z-index: 100;
    }
    
    .navbar-collapse {
        flex-grow: initial;
    }
    
    .navbar-nav {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 5px;
    }
    
    .nav-item {
        margin: 0px 5px;
    }
    
    .navbar-brand img {
        height: 78px;
    }
    
    .row {
        justify-content: center
    }
    
    footer {
        position: sticky;
        background-color: rgb(246 226 201);
        padding-bottom: 2px;
    }
    
    footer ul {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    }
    
    footer ul li {
        list-style: none;
    }
    
    .carousel-item img {
        height: 550px;
    }
    
    .carousel-inner {
        padding-bottom: 5px;
    }
    
    .mainParrafos p {
        margin: 20px 20px;
        font-size: 150%;
        font-weight: 900;
    }
    
    .pag_produ {
        display: grid;
        grid-template-columns: 0.8fr 0.8fr;
        grid-template-rows: repeat(1, 1fr);
        gap: 10px;
        margin: 50px;
    }
    
    main h1 {
        text-align: center;
        color: goldenrod;
        margin-top: 15px;
    }
    
    main p {
        font-size: 2rem;
        font-family: 'Anek Gujarati', sans-serif;
        margin: 5px 10px;
    }
    
    .produ {
        display: flex;
        flex-direction: column;
    }
    
    .produ ul li {
        font-size: 1.5rem;
        font-weight: 600;
        font-family: 'Anek Gujarati', sans-serif;
    }
    
    .produ img {
        width: 95%;
    }
    
    @media only screen and (max-width: 999px) {
        .mainParrafos p {
            font-size: 120%
        }
        .carousel-item img {
            height: 400px;
        }
        .navbar-brand img {
            height: 73px;
        }
        main p {
            font-size: 1.5rem;
        }
        .produ ul li {
            font-size: 1rem;
        }
        .pag_produ {
            margin: 35px;
            gap: 3px;
        }
        ul li img {
            width: 85%;
        }
    }
    
    @media only screen and (max-width: 599px) {
        .mainParrafos p {
            font-size: 95%
        }
        .carousel-item img {
            height: 335px;
        }
        .navbar-brand img {
            height: 73px;
        }
        main p {
            font-size: 1rem;
        }
        .produ ul li {
            font-size: 0.9rem;
        }
        .pag_produ {
            margin: 20px;
            grid-template-columns: 0.7fr;
            justify-content: center;
        }
        ul li img {
            width: 75%;
        }
    }